* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}
a[href^='tel'] {
  color: black;
  text-decoration: underline;
}
body{
	font-size: 16px;
}
.container {
  max-width: 750px;
  margin: 0 auto;
}
