* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
}
html {
  font-size: 10px;
}
ol,
ul {
  margin-bottom: 0px;
}
a {
  outline: none!important;
  color: black!important;
  text-decoration: none!important;
}
.btn-fuck {
  border: none;
}
.btn-fuck:link,
.btn-fuck:visited,
.btn-fuck:hover,
.btn-fuck:active,
.btn-fuck:focus {
  background-color: white;
}
.logo-wrap .settings .dropdown-menu,
.logo-wrap .themes .dropdown-menu {
  font-size: 15px;
  min-width: 145px;
}
.logo-wrap .themes li a {
  display: inline-block;
}
.logo-wrap button {
  border: none;
}
.logo-wrap button:link,
.logo-wrap button:visited,
.logo-wrap button:hover,
.logo-wrap button:active,
.logo-wrap button:focus {
  background-color: white;
}
#selectinfo {
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
}
#search .dropdown-menu {
  min-width: 66px;
}
#search .dropdown-menu li {
  text-align: center;
  font-size: 16px;
  padding: 5px 0px;
}
nav figcaption {
  margin-top: 5px;
  font-size: 12px;
}
nav figure {
  margin-top: 15px;
}
nav figure img {
  width: 80%;
}
#go {
  background-color: #FE5400;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  color: white;
}
.tbtt {
  height: 20px;
  line-height: 20px;
  margin-top: 7px;
}
.news {
  margin-top: 10px;
}
.news .hot {
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #D81421;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  color: #D81421;
  width: 45px;
  text-align: center;
}
.news .swiper-wrapper {
  height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.news .swiper-slide {
  font-weight: bold;
}
.top .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid white;
  opacity: .5;
}
.top .swiper-pagination-bullet-active {
  opacity: 1;
  background: #FC5401;
}
.top .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 10px;
}
#feeder {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
h4[class='text-center'] {
  background-color: #eeeeee;
  padding-top: 5px;
  padding-bottom: 5px;
}
.chaoshihui {
  height: 12rem;
}
.haopinzhi1 {
  height: 10rem;
}
.haopinzhi2 {
  height: 12rem;
}
.youtese1 {
  height: 13rem;
}
.youtese2 {
  height: 12rem;
}
@media (min-width: 320px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 568px) {
  nav figure {
    margin-top: 15px;
  }
  nav figure img {
    width: 40%;
  }
  html {
    font-size: 15px;
  }
}
@media (min-width: 667px) {
  nav figure {
    margin-top: 15px;
  }
  nav figure img {
    width: 40%;
  }
  html {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  nav figcaption {
    margin-top: 5px;
    font-size: 16px;
  }
  nav figure {
    margin-top: 15px;
  }
  nav figure img {
    width: 50%;
  }
  html {
    font-size: 30px;
  }
}
